# ignore ALL .log files
*.log

# ignore the .ipynb_checkpoints directory
.ipynb_checkpoints

# ignore the input articles data file
NST-EST2022-POP.xlsx
US States by Region - US Census Bureau.xlsx
us_cities_by_state_SEPT.2023.csv

# ignore DS store
.DS_Store
